
#container{
 margin: 20px;
 border: 1px solid black;
 min-height: 100vh; 
 
}

table,thead,tr,td,th{
    border: none;
    padding: 5px;
}

thead{
    background-color: green;
    color: honeydew;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}
tbody tr :hover {
    background-color:khaki;
}
#table{
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
    width: 600px;
    text-align: center;
    border-radius:300px;
}

#heading1{
    text-align: center;
    color: green;
}

.btn {
    margin-left:45%;
    background: #3498db;
    border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #f7f7f7;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover{
    background: #90cbf1;
  }

  .even{
      background-color:rgba(146, 141, 141, 0.342) ;
  }

  #th1{
      border-top-left-radius: 10px;

  }

  
  #th2{
    border-top-right-radius: 10px;

}